body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
.slider-wrap {
    overflow-x: hidden;
    max-width: 100%;
    margin: 50px auto;
    position: relative;
}

.slider-item {
    width: 1000px;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.slider-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: ease 0.5s;
    object-fit: contain;
    position: absolute;
}
.slider-item .opacity0 {
    opacity: 0;
}

.slider-buttons {
    position: relative;
    cursor: pointer;
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto 0px auto;
}

.slider-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-left, .btn-right{
    width: 40%;
}
.slider-navigation{
    display: flex;
    width: 200px;
    margin: 0 auto;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}
.slider-navigation .slider-dot{
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
   
    border: 1px solid #000;
}
.active {
   background-color: red;
   opacity: 1;      
  }
 